<div id="myModal<%= pin.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Posted by <%= link_to (pin.user.firstname + " " + pin.user.lastname), pin.user %></h3>
  </div>
  <div class="modal-body">
    <%= link_to image_tag(pin.image), pin %>
    <p><%= pin.description %></p> 
  </div>
  <div class="modal-footer">
    <div class="pull-left">

    <%= pluralize pin.reputation_for(:votes).to_i, "Likes" %> |
      <%= link_to "Like", vote_pin_path(pin, type: "up"), method: "post" %> |
      <%= link_to "Unlike", vote_pin_path(pin, type: "down"), method: "post" %> |
      <%= pluralize pin.reputation_for(:votes).to_i, "Likes" %> | <%= link_to (pluralize(pin.comments.count, 'comment')), pin %>
    
  </div>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
