<div class="row">
	<div class="span6 offset3">	
		<div class="well">
			<p>
			<%= image_tag @pin.image %>
			</p>
			<p>
				  <%= @pin.description %>
				</p>
				<p>
				  <%= @pin.user.firstname %> <%= @pin.user.lastname %>
				</p>
				<p>
					<%= @pin.created_at.to_formatted_s :long_ordinal %>
				</p>
    <% if current_user == @pin.user %>
				<%= link_to 'Edit', edit_pin_path(@pin) %> |
		<% end %>
				<%= link_to 'Back', pins_path %>

				<!-- Show Comments -->
        <p class="comment_header">Comments:</p>
          <% if @pin.comments.blank? %>                
            <p>No comments yet for this pin.</p>                               
          <% else %>                           
            <% @pin.comments.each do |comment| %>              
              <div class="comments">                           
                <p><%= comment.content %></p>
                <span>by <%= link_to (comment.user.firstname + " " + comment.user.lastname), @pin.user %> <%= time_ago_in_words(comment.created_at) %> ago</span>
              </div>
            <% end %>                          
          <% end %>


         <!-- Add Comments -->
            <% if user_signed_in? %>
              <p class="comment_header">Add Comment:</p>
              <span class="comment">
                <%= form_for([@pin, @pin.comments.build]) do |f| %>
                  <div class="field"><%= f.text_area :content, :cols => "30", :rows => "3" %></div>
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                  <div class="actions"><%= f.submit "Add Comment", :class => "btn btn-header" %></div>
                <% end %>
              </span>
            <% else %>
              <p class="comment_header"><%= link_to 'Sign in', new_user_session_path %> to post comments.</p>                  
            <% end %>

		</div>
	</div>
</div>


