
<div class="hero-unit">
<div class="row">
  <div class="span2">
    <% if @user.image? %>
      <%= image_tag "http://graph.facebook.com/#{@user.uid}/picture?type=large" %>
    <% else %>
      <%= image_tag "avatar-blank.jpg" %>	
    <% end %>  
  		<%= @user.firstname %> <%= @user.lastname %></br>
      <%= @user.gender %></br>
      <%= @user.city %></br>
      <%= @user.country %>
  	
  </div>

  <div class="span8">
  	


  </div>
</div>

 </div>

<div id="pins">
  <%= render @pins %>
</div>

<%= will_paginate @pins %>