
<div Class="profile">
<div class="row">
  <div class="span2">

  		<%= image_tag "http://graph.facebook.com/#{@user.uid}/picture?type=large" %>
  		<%= @user.firstname %> <%= @user.lastname %></br>
      <%= @user.city %></br>
      <%= @user.country %>
  	
  </div>

  <div class="span8">
  	
  	<!-- Carousel -->
  	<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">Image 1</div>
    <div class="item">Image 2</div>
    <div class="item">Image 3</div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

  </div>
</div>

 </div>

<div id="pins">
  <%= render @pins %>
</div>

<%= will_paginate @pins %>