<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to "AnimalHutt", root_path, class: "brand" %>
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <ul class="nav">
        	<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>
      	</ul>
				<div class="thelogin pull-right">
          <% if user_signed_in? %>
          <%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture?type=small" %>
          Hi <%= current_user.firstname %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn  btn-mini btn-primary" %>
					<% else %>
          <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => "popup" %>
          <%= link_to "Login", new_user_session_path, class: "btn  btn-mini btn-primary" %>
					<%= link_to "Register", new_user_registration_path, class: "btn  btn-mini btn-success" %>
          <% end %>
				</div>
      </div>
 
    </div>
  </div>
</div>

<% if user_signed_in? %>
<div class="navbar navbar-fixed-top navsec">
  <div class="container">
   <ul class="nav pull-right">
          <li><%= link_to "Add +", new_pin_path %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
        </ul>
  </div>      
</div>
<% end %>